<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
    {{> scripts }}
</head>


<body>
    <h3>Mojifier</h3>

    <div id="app">
        <div>
            <input type="file" id="file" ref="file" />
            </label>
            <button v-on:click="submitFile()">Submit</button>
        </div>
    </div>


    <script src="/public/app.js"></script>
</body>

</html>